<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>MaquinasServlet</servlet-name>
        <servlet-class>com.controlador.MaquinasServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProyectoServlet</servlet-name>
        <servlet-class>com.controlador.ProyectoServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Detalle_ProyectoServlet</servlet-name>
        <servlet-class>com.controlador.Detalle_ProyectoServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DepartamentoServlet</servlet-name>
        <servlet-class>com.controlador.DepartamentoServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MunicipioServlet</servlet-name>
        <servlet-class>com.controlador.MunicipioServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>com.controlador.LoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Login2Servlet</servlet-name>
        <servlet-class>com.controlador.Login2Servlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>MaquinasServlet</servlet-name>
        <url-pattern>/MaquinasServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProyectoServlet</servlet-name>
        <url-pattern>/ProyectoServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Detalle_ProyectoServlet</servlet-name>
        <url-pattern>/Detalle_ProyectoServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DepartamentoServlet</servlet-name>
        <url-pattern>/DepartamentoServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MunicipioServlet</servlet-name>
        <url-pattern>/MunicipioServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/LoginServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Login2Servlet</servlet-name>
        <url-pattern>/Login2Servlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
